.checkout_product {
  display: flex;
  caret-color: transparent;

  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.checkoutProduct_image {
  width: 180px;
  object-fit: contain;
  margin-right: 20px;
}

.checkoutProduct_rating {
  display: flex;
}

.checkoutProduct_title {
  font-weight: 700;
}

.checkoutProduct_button button {
  background: linear-gradient(to top, #febd69, wheat);
  padding: 2px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid gray;
}
.checkoutProduct_button button:hover {
  background: linear-gradient(to bottom, #febd69, #febd69);
}
